@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

div {
    outline: 1px solid black;
}

main {
    display: flex;
    height: 97vh;
}

.dashboard-sidebar {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-sidebar .sidebar-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-options div {
    border-radius: 5px;
    height: 52px;
    width: 90%;
}

.sidebar-options a {
    border-radius: 5px;
    height: 52px;
    width: 90%;
}

.sidebar-options div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.sidebar-options div:nth-child(1) img {
    width: 80px;
}

.dashboard-sidebar .signout {
    border-radius: 5px;
    text-align: center;
    width: 90%;
    height: 52px;
    margin-left: 15px;
}

a {
    outline: 1px solid black;
    text-decoration: none;
}

a:visited,
a:active,
a:link,
a:hover {
    color: black;
}

.dashboard-container {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}

.dashboard-container div {
    border-radius: 5px;
}

.dashboard-container .room-layout {
    flex-grow: 5;
}

.dashboard-container .history-container {
    flex-grow: 3;
    display: flex;
    column-gap: 10px;
}

.dashboard-container .history-container div {
    flex-grow: 1;
}