@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --dominant-layout: #f8fafc;
    --complementary-layout: #1e293b;
    --accent-layout: #94a3b8;
}
*{
    color: inherit;
}
.dashboard-container {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
    font-weight: bold;
    background-color: var(--dominant-layout);
}
.dashboard-container div {
    color: var(--complementary-layout);
    border-radius: 5px;
}

.dashboard-container .room-layout {
    flex-grow: 5;
    padding: 10px;
    border: 2px solid rgb(126, 139, 158);
}

.dashboard-container .history-container {
    flex-grow: 3;
    display: flex;
    column-gap: 10px;
}

.dashboard-container .history-container div {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid rgb(126, 139, 158);
}