:root{
    --dominant-details: #f8fafc;
    --complementary-details: #1e293b;
    --accent-details: #94a3b8;
}
.details-section {
    width: 20%;
    padding: 20px;
    height: 98%;
    border: 1px solid rgb(126, 139, 158);
    background-color: #e1e7efcc;
    border-radius: 3px !important;
}