@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: Inter;
    src: url("../resources/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
:root{
    --dominant-layout: #f8fafc;
    --complementary-layout: #1e293b;
    --accent-layout: #94a3b8;
}
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--complementary-layout);
}
body{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    height: 100vh;
    background-color: var(--dominant-layout);
}
body > :nth-child(3){
    align-self: center;
    border-radius: 10px;
}
