:root{
    --dominant-main: #f8fafc;
    --complementary-main: #1e293b;
    --accent-main: #94a3b8;
}
.main-section {
    font-weight: bold;
    width: 60%;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.main-section .option-section {
    border-radius: 4px;
    /* border: 1px solid #94a3b8; */
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 10%;
    column-gap: 10px;
    align-items: center;
    text-align: center;
}

.main-section .option-section div {
    border-radius: 3px;
    border: 1px solid rgb(148, 163, 184,0.8);
    background-color: rgb(225, 231, 239,0.6);
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    column-gap: 10px;
    transition: 0.3s ease-out;
}
.main-section .option-section div:hover {
    /* background-color: var(--accent-main); */
    background-color: #94a3b8;
}

.option-section div img {
    width: 30px;
    align-self: center;
}
#waterdrop{
    width: 22px;
    height: 32px;
}
#add-tenant{
    width: 33px;
}
.option-section .option *{
    pointer-events: none;
}