:root{
    --dominant-main: #f8fafc;
    --complementary-main: #1e293b;
    --accent-main: #94a3b8;
}
.main-section {
    font-weight: bold;
    width: 60%;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-section .option-section {
    border-radius: 10px;
    border: 2px solid var(--complementary-main);
    padding: 10px;
    height: 5%;
    display: flex;
    height: 15%;
    column-gap: 10px;
    align-items: center;
    text-align: center;
}

.main-section .option-section div {
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    column-gap: 10px;
}

.option-section div img {
    width: 30px;
}

.main-section .preview-section {
    font-weight: bold;
    height: 85%;
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
}

.main-section .preview-section div {
    border: 2px solid black;
    width: 45%;
    height: 45%;
    border-radius: 10px;
    padding: 10px;
}