.preview-section {
    font-weight: bold;
    height: 85%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
    position: relative;
}
.preview-card {
    border: 1px solid rgb(126, 139, 158);
    width: 45%;
    height: 45%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    overflow: hidden;
}
.preview-card > div:nth-child(1){
    height: 70%;
    width: 100%;
    background-color: rgba(225, 231, 239,0.6);
}
.preview-card > .preview-details-section{
    width: 100%;
    height: 30%;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    cursor: pointer;
    transition: 0.3s ease-out;
    background-color: rgba(101, 117, 139,0.98);
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;

}
.preview-details-section > div {
    background-color: rgba(225, 231, 239,0.7);
    border: 1px solid #475569;
    border-radius: 3px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    flex-grow: 1;
    transition: 0.3s ease-out;
}
.preview-details-section > div > * {
    pointer-events: none;
}
.preview-details-section > div:hover {
    background-color: rgba(225, 231, 239,1);
}
.preview-details > img{
    width: 40px;
}
.preview-card > .single-bed{
    background-image: url('../resources/single-bed.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.preview-card > .double-bed{
    background-image: url('../resources/double-bed.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.popup-appear{
    overflow-y: hidden;
}

.popup-modal-section{
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: rgba(30, 41, 59,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-modal-section .pop-up{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid rgba(30, 41, 59,0.4);
    box-shadow: 0px 0px 10px 1px rgba(30, 41, 59,1);
    background-color: rgba(225, 231, 239,1);
}
.card-section{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
    position: relative;
}