:root{
    --dominant-sidebar: #f8fafc;
    --complementary-sidebar: #1e293b;
    --accent-sidebar: #94a3b8;
}
.dashboard-sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    border-right: 3px solid var(--complementary-sidebar);

}

.dashboard-sidebar .sidebar-options {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-options div {
    height: 52px;
    width: 90%;
}

.sidebar-options a {
    height: 52px;
    width: 90%;
    display: flex;
    justify-content: start;
    column-gap: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #94a3b8;
}

.sidebar-options div:nth-child(1) {
    display: flex;
    justify-content: center;

}

.sidebar-options div:nth-child(1) img {
    width: 80px;
}

.sidebar-options a img {
    width: 40px;
    align-self: center;
}


.dashboard-sidebar .signout {
    border-bottom: 2px solid var(--accent-sidebar);
    text-align: center;
    width: 90%;
    height: 52px;
    margin-left: 15px;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    font-weight: bold;
}
.signout img {
    width: 40px;
}
a {
    text-decoration: none;
}

a:visited,
a:active,
a:link,
a:hover {
    color: black;
}