.dashboard-sidebar {
    /* flex-grow: 1; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.dashboard-sidebar .sidebar-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-options div {
    border-radius: 5px;
    height: 52px;
    width: 90%;
}

.sidebar-options a {
    border-radius: 5px;
    height: 52px;
    width: 90%;
    display: flex;
    justify-content: start;
    column-gap: 10px;
    padding-left: 10px;
}

.sidebar-options div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.sidebar-options div:nth-child(1) img {
    width: 80px;
}

.sidebar-options a img {
    width: 40px;
}

.dashboard-sidebar .signout {
    border-radius: 5px;
    text-align: center;
    width: 90%;
    height: 52px;
    margin-left: 15px;
    display: flex;
    justify-content: start;
    padding-left: 10px;
}
.signout img {
    width: 40px;
}
a {
    border: 1px solid black;
    text-decoration: none;
}

a:visited,
a:active,
a:link,
a:hover {
    color: black;
}