:root{
    --dominant-sidebar: #f8fafc;
    --complementary-sidebar: #475569;
    --accent-sidebar: #1e293b;
    --bottom-border-color: #94a3b8;
}

.dashboard-sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    background-color: var(--complementary-sidebar);
    opacity: 94%;
}
.dashboard-sidebar p {
    color: var(--dominant-sidebar);
    letter-spacing: 1px;
}

.dashboard-sidebar .sidebar-options {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-options div {
    height: 52px;
    width: 90%;
}

.sidebar-options a {
    height: 52px;
    width: 90%;
    display: flex;
    justify-content: start;
    column-gap: 10px;
    padding-left: 10px;
    border-bottom: 1px solid var(--bottom-border-color);
    opacity: 85%;
    transition: 0.3s ease-out;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.sidebar-options a:hover{
    opacity: 100%;
    background-color: var(--accent-sidebar);
}

.sidebar-options div:nth-child(1) {
    display: flex;
    opacity: 95%;
}

.sidebar-options div:nth-child(1) img {
    width: 80px;
}
.sidebar-options a img {
    width: 40px;
    align-self: center;
}



.signout {
    border-bottom: 1px solid var(--bottom-border-color);
    text-align: center;
    width: 90%;
    height: 52px;
    margin-left: 15px;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    font-weight: bold;
    column-gap: 10px;
    opacity: 85%;
    transition: 0.3s ease-out;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.signout:hover{
    opacity: 100%;
    background-color: var(--accent-sidebar);
}
.signout img {
    width: 35px;
    height: 35px;
    align-self: center;
}
a {
    text-decoration: none;
}
a:visited,
a:active,
a:link,
a:hover {
    color: black;
}