.details-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

.tenant-details-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.tenant-details-section>* {
    border: 1px solid rgb(126, 139, 158);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}

.tenant-details-section>.image-holder {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenant-details-section>.details {
    height: 7%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}


.image-holder {
    width: 100%;
    background-image: url("../icons/avatar-placeholder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modify-tenant {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 5.5%;
    font-weight: bold;
}

.edit-tenant,
.remove-tenant {
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(126, 139, 158);
    transition: 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.remove-tenant:hover,
.edit-tenant:hover {
    transform: scale(1.03);
}

.details>input {
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;

}

#e-first-name>input,
#e-last-name>input {
    width: 60%;
}

#e-contact-num>input {
    width: 45%;
}


.details>input:focus {
    outline: none;
}